<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Demo ssr</title>
        <link type="text/css" rel="stylesheet" href= "/css/style.css"/>
    </head>
    <body>
        <h1><%= name %> images</h1>
        <form method="POST" enctype="multipart/form-data">
            <label for="input_image">Enter your task:</label>
            <input type="file" name="image" id="input_image" accept="image/png, image/jpeg" />
            <input type="submit" value="Submit!" />
        </form>

        <img src="./../uploads/2da20142705380d624df7650409b42c1.png">
        </main>
    </body>

</html>

